In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
     -------------------------------------- 11.6/11.6 MB 234.2 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in c:\users\nns\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nns\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ------------------------------------ 505.5/505.5 kB 278.1 kB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ------------------------------------ 345.4/345.4 kB 214.4 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\nns\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# Pandas - библиотека для работы с данными

In [2]:
import pandas as pd

- Объект класса (типа) Series

In [3]:
# Series - это одномерный массив данных
# создание на базе списков
s1 = pd.Series([10, 20, 30, 40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# создание на базе словаря
d1 = {'a':100, 5:20, 0:500}
s2 = pd.Series(d1)
s2

a    100
5     20
0    500
dtype: int64

In [5]:
# явные индексы
s1[0]

10

In [6]:
s2[0]

500

In [7]:
s2['a']

100

In [8]:
# неявные индексы
# атрибут-индексатор для НЕявных индексов
s1.iloc[0]

10

In [9]:
s2.iloc[0]

100

In [10]:
# атрибут-индексатор для явных индексов
s2.loc[0]

500

In [11]:
s2.shape

(3,)

In [12]:
s2.size

3

In [13]:
s2.index

Index(['a', 5, 0], dtype='object')

In [14]:
s2.values

array([100,  20, 500], dtype=int64)

In [15]:
# Данные по населению городов Якутии
pop_d = {
    "Yakutsk": 318768,
    "Neryungri": 57009,
    "Viliuysk": 11095
}

pop_s = pd.Series(pop_d)
pop_s

Yakutsk      318768
Neryungri     57009
Viliuysk      11095
dtype: int64

In [16]:
# 1. вывести население выбранного города
# 2. срез от Нерюнгри до Вилюйска

In [17]:
# 1

pop_s["Yakutsk"]

318768

In [19]:
# 2
# явные индексы
pop_s["Neryungri":"Viliuysk"]

Neryungri    57009
Viliuysk     11095
dtype: int64

In [21]:
# неявные индексы
pop_s.iloc[1:]

Neryungri    57009
Viliuysk     11095
dtype: int64

- Объект класса (типа) DataFrame

In [22]:
# DataFrame - 2-мерный массив данных
d2 = {
    "col 1": {"row 1": 100, "row 2": 200},
    "col 2": {"row 2": 300, "row 3": 400}
}
df1 = pd.DataFrame(d2)
df1

       col 1  col 2
row 1  100.0    NaN
row 2  200.0  300.0
row 3    NaN  400.0